<template>
<div>
    <no-ssr>
        <div id="fb-root"></div>
        <div class="fb-customerchat"
        page_id="282928345679440"></div>
    </no-ssr>
</div>
</template>


<script>
export default {
    mounted() {
        this.$initFBChat()
    }
}
</script>


<style lang="scss" scoped>

</style>