<template>
    <div>
        <chat />
    </div>
</template>


<script>
import Chat from '../components/chat/Chat.vue'
export default {
    components: {
        Chat
    },
}
</script>


<style lang="scss">

</style>